<!DOCTYPE html>
<html lang="pl">

<head>
  <title>Hack4WZ</title>
  <meta charset="UTF-8" />
  <meta name="author" content="Rafał Zając, Rafał Nojek" />
  <meta name="keywords" content="gra, gwint, gra karciana, wiedźmin" />
  <meta name="description" content="Wiedźmińska gra karciana." />
  <link rel="icon" href="{{ url_for('static', filename='Images/logo.webp') }}" />
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/main_style.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/main_style.css" /> -->
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/styl_menu_gorne.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/styl_menu_gorne.css" /> -->
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='Styles_loader_background/all.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/all.css" /> -->
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/footer.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/footer.css" /> -->
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/landing-page.css" /> -->
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/landing-page.css') }}" />
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/loader.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/loader.css" /> -->
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/pictures.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/pictures.css" /> -->
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/sidebar-menu.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/sidebar-menu.css" /> -->
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/slider.css" /> -->
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/slider.css') }}" />
  <link rel="stylesheet" media="screen"
    href="{{ url_for('static', filename='Styles_loader_background/tables_lists.css') }}" />
  <!-- <link rel="stylesheet" media="screen" href="Styles_loader_background/tables_lists.css" /> -->
  <script src="https://kit.fontawesome.com/319b862daa.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='JS_files/jquery.js') }}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet" />
</head>

<body style="margin: 0px">
  <div id="loader"></div>
  <div class="side-menu-container">
    <nav class="side-menu">
      <a class="toSec1" href="#sekcja1">
        <div><i class="fas fa-home"></i></div>
      </a>
      <a class="toSec2" href="#sekcja2">
        <div><i class="fas fa-question"></i></div>
      </a>
      <a class="toSec3" href="#sekcja3">
        <div><i class="fas fa-briefcase"></i></div>
      </a>
      <a class="toSec4" href="#sekcja4">
        <div><i class="fas fa-address-card"></i></div>
      </a>
    </nav>
  </div>
  <header>
    <div class="logo">
      <span id="web-title">Gwint</span>
      <img onmouseover="" id="image-logo" alt="logo-Gwint" src="{{ url_for('static', filename='Images/logo.webp') }}" />
    </div>
    <nav class="nav-top">
      <a id="button1" href="#sekcja1">
        <i id="icon1" class="fa-solid fa-chess"></i>
        <span id="span1">Opis</span>
      </a>
      <a id="button2" href="#sekcja2">
        <i id="icon2" class="fa-solid fa-dice"></i>
        <span id="span2">Jury</span>
      </a>
      <a id="button3" href="#sekcja3">
        <i id="icon3" class="fa-solid fa-dragon"></i>
        <span id="span3">Sponsorzy</span>
      </a>
      <a id="button4" href="#sekcja4">
        <i id="icon4" class="fa-solid fa-gamepad"></i>
        <span id="span4">Regulamin</span>
      </a>
    </nav>
  </header>
  <div id="landing-page">
    <img src="https://cdn-l-playgwent.cdprojektred.com/wallpapers/Gwent_Ciri_1920x1080_PL.jpg" alt="Gwint-main-photo" />
  </div>
  <div class="container-main">
    <hr />
    <div class="container" id="sekcja1">
      <h1>O wydarzeniu</h1>
      <h3>Pierwsze takie wydarzenie na Wydziale Zarządzania AGH</h3>
      <p>
        <b>Hack4WZ</b> to wydarzenie organizowane przez Koło Naukowe Mentor.
        Jego celem jest wyłonienie zespołu, spośród naszych studentów, którzy
        w najlepszy sposób rozwiążą postawiony przed nimi problem. Jeżeli nie
        straszna Ci analiza danych, to zbieraj swoich znajomych i dołączajcie
        do wydarzenia! <br />
        <b>Zadanie</b>, jakie będziecie mieli zrealizować, to stworzenie
        modelu predykcyjnego na podstawie wyselekcjonowanych przez nas danych.
        <br />
        <b>Kiedy?</b> 13 styczeń 2023. Rozpoczniemy o godzinie 11:00, a
        zakończymy tego samego dnia o godzinie 23:59. <br />
        <b>Jak to działa?</b> Wraz z godziną 11:00 ogłosimy zadanie konkursowe
        oraz udostępnimy wam potrzebne dane. Na rozwiązanie problemu będziecie
        mieli trochę ponad 12h. Ten czas spędzimy razem na uczelni. Wraz z
        wybiciem 23:59 zbierzemy wasze rozwiązania i przekażemy do oceny
        naszemu Jury. Wymagane jest dołączenie pliku z kodem oraz krótkiej
        prezentacji podsumowującej waszą pracę. <br />
        <b>Uwaga!</b> Do wydarzenia mogą przystąpić
        <b>zespoły 2 lub 3 osobowe</b>. Zgłoszenia zbieramy do końca grudnia.
        Ilość miejsc jest ogarniczona, dlatego nie zwlekajcie z zapisami!<br />
      </p>
      <div class="pictures">
        <img class="pic1" src="https://www.zarz.agh.edu.pl/wp-content/uploads/2016/09/logo_poziom.png"
          alt="Talie do gwinta" />
        <a href="https://www.zarz.agh.edu.pl/"> Logo wydziału </a>
      </div>
      <h2>Nagłówek 2 Sekcji 1</h2>
      <p>
        In feugiat dolor lorem, et laoreet ante porttitor id. Aliquam feugiat,
        quam non vulputate dapibus, purus ipsum cursus neque, id interdum
        magna magna nec neque. Aenean tempor porttitor lorem id placerat.
        Vestibulum imperdiet lobortis quam, eu egestas est placerat lobortis.
        Suspendisse potenti. Fusce at est sit amet elit elementum posuere ac
        at mi. Nam ut odio arcu. Sed efficitur sodales nunc eget rhoncus. Duis
        et est nec augue bibendum venenatis ac sed dolor. Mauris sit amet
        ultrices mi. Sed risus ante, fermentum eget molestie non, pulvinar id
        tortor. In aliquam, ante vitae tempus hendrerit, ligula risus aliquam
        odio, in viverra lacus enim ut leo. Nullam mattis egestas rhoncus.
        Mauris suscipit sem id tempus aliquet. Mauris imperdiet tellus vitae
        libero sagittis dignissim. Vestibulum nec urna dolor.
      </p>
      <div class="pictures">
        <img class="pic2" src="https://i.pinimg.com/originals/fd/cb/fa/fdcbfaf96d5cff0eec3fb8001fac3467.jpg"
          alt="Grafika z gry - Yennefer z Vengerbergu" />
        <a href="https://pl.pinterest.com/">Grafika z gry - pl.pinterest.com
        </a>
      </div>
      <h3>Nagłówek 3 Sekcji 1</h3>
      <p>
        Nullam et ligula tellus. Praesent eu eleifend quam, facilisis
        fermentum urna. Vestibulum id est ut est mattis dapibus et eu dui. Nam
        eget augue sed leo aliquet pulvinar. Aenean dignissim sed lorem
        volutpat interdum. Suspendisse faucibus quam a nulla fringilla
        lobortis. Duis tincidunt molestie metus, ac pretium quam rutrum sed.
        Praesent ac imperdiet dolor, nec vulputate nibh. Praesent aliquet
        justo vitae pharetra bibendum. Etiam placerat fringilla metus non
        pharetra. Maecenas sit amet felis finibus, condimentum lacus eu,
        ullamcorper lorem.
      </p>

    </div>
    <h2>Jury</h2>
    <p>
      Poznaj członków jury, którzy będą oceniać prace i spośród wszystkich złożonych projektów wybiorą te najlepsze.
    </p>

    <h3>Nagłówek 3 Sekcji 1</h3>
    <p>
      Nullam et ligula tellus. Praesent eu eleifend quam, facilisis
      fermentum urna. Vestibulum id est ut est mattis dapibus et eu dui. Nam
      eget augue sed leo aliquet pulvinar. Aenean dignissim sed lorem
      volutpat interdum. Suspendisse faucibus quam a nulla fringilla
      lobortis. Duis tincidunt molestie metus, ac pretium quam rutrum sed.
      Praesent ac imperdiet dolor, nec vulputate nibh. Praesent aliquet
      justo vitae pharetra bibendum. Etiam placerat fringilla metus non
      pharetra. Maecenas sit amet felis finibus, condimentum lacus eu,
      ullamcorper lorem.
    </p>
    <hr />
    <div class="container" id="sekcja2">
      <h1>Jury</h1>
      <div class="container-part-section2">

        <div><img src="https://assets.mitsmr.pl/f/person/NfiDr0hmc/photo/slCygGZFechBlzocEDBjEO4ecEGRKW56.jpg"
            loading="lazy" alt="" class="image-6">
          <h5 class="heading-2">dr hab. prof. AGH <br>Jerzy Duda</h5>
          <div class="text-block-2">Profesor w Katedrze <br>Informatyki Stosowanej<br>na Wydziale Zarządzania AGH.
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="div-block-21"><img
              src="https://assets.mitsmr.pl/f/person/NfiDr0hmc/photo/slCygGZFechBlzocEDBjEO4ecEGRKW56.jpg"
              loading="lazy" alt="" class="image-6">
            <h5 class="heading-2">dr hab. prof. AGH <br>Jerzy Duda</h5>
            <div class="text-block-2">Profesor w Katedrze <br>Informatyki Stosowanej<br>na Wydziale Zarządzania AGH.
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="container" id="sekcja3">
        <h1>Nagłówek 1 Sekcji 3</h1>
        <p>
          <b>Donec quis nibh tempor</b> Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quis reprehenderit impedit magnam veniam qui
          doloremque dolorum vel corrupti molestiae, necessitatibus debitis
          quaerat beatae voluptatibus consectetur dignissimos quia fugiat
          asperiores animi assumenda laborum labore provident? Voluptatum
          excepturi laudantium unde voluptatibus sed assumenda cum, facere error
          molestiae, possimus architecto tenetur at magnam. Ad corrupti cumque
          tenetur similique numquam fuga laboriosam odit animi dolorum, a ex
          necessitatibus, quis odio nostrum tempora vitae ratione perspiciatis
          enim magnam praesentium aut mollitia hic maxime. Unde libero ab
          voluptatibus illo officia quisquam iste saepe natus velit distinctio
          nulla fugiat quod reprehenderit soluta, ducimus aliquid cumque!
          Placeat quibusdam explicabo blanditiis fuga nisi, assumenda, corrupti
          fugit eveniet expedita ex animi earum mollitia. Officiis adipisci
          labore praesentium, placeat maxime doloribus reprehenderit eveniet
          sint assumenda, id exercitationem voluptas aliquam, recusandae
          necessitatibus dolores et voluptate ex alias quas voluptates? Vel
          tenetur eaque, quas exercitationem distinctio nihil! Repudiandae iure
          tempore nostrum. Illo, ea sit obcaecati explicabo cumque enim fugit
          facilis tempore optio inventore autem pariatur maiores incidunt soluta
          ex maxime perferendis id veritatis perspiciatis aliquid dolorem
          assumenda. Totam ratione fugiat sequi dolorum quis eum architecto
          culpa. Quos architecto ex accusantium iusto eveniet quam alias ipsa
          laudantium sequi atque?
        </p>
        <hr style="visibility: hidden;" />
        <hr style="visibility: hidden;" />
        <div class="slides-container glow-frame">
          <div class="slides fade">
            <img src="{{ url_for('static', filename='Images/slide1.jpg') }}" alt="Witcher1" style="width: 100%" />
            <div class="slide-text">Inne gry studia CD Projekt Red</div>
          </div>
          <div class="slides fade">
            <img src="{{ url_for('static', filename='Images/slide2.jpg') }}" alt="Witcher2" style="width: 100%" />
            <div class="slide-text">Inne gry studia CD Projekt Red</div>
          </div>
          <div class="slides fade">
            <img src="{{ url_for('static', filename='Images/slide3.jpg') }}" alt="Witcher3" style="width: 100%" />
            <div class="slide-text">Inne gry studia CD Projekt Red</div>
          </div>
          <div class="slides fade">
            <img src="{{ url_for('static', filename='Images/slide4.jpg') }}" alt="ThroneBreaker" style="width: 100%" />

            <div class="slide-text">Inne gry studia CD Projekt Red</div>
          </div>
          <div class="slides fade">
            <img src="{{ url_for('static', filename='Images/slide5.jpg') }}" alt="Cyberpunk" style="width: 100%" />
            <div class="slide-text">Inne gry studia CD Projekt Red</div>
          </div>
          <a class="previous-button" onclick="changeSlides(-1)">&#10094;</a>
          <a class="next-button" onclick="changeSlides(1)">&#10095;</a>
        </div>
      </div>
      <hr />
      <div class="container" id="sekcja4">
        <h1>Regulamin</h1>
        <div class="grid-container">

          <section id="main" class="row text-content content-section">
            <section class="large-12 columns" role="main">
              <p><br>§ 1<br>POSTANOWIENIA OGÓLNE</p>
              <ol>
                <li>Niniejszy Regulamin określa zasady i warunki, na jakich odbywa się wydarzenie pod nazwą „HACK4WZ”
                  (dalej “Hackathon”).</li>
                <li>Hackathon organizowany jest w dniach 13 stycznia 2023 r. na Wydziale Zarządzania AGH przy ul.
                  Gramatyka 10 w Krakowie.</li>
                <li>Organizatorem Hackathonu jest organizacja studencka Koło Naukowe Mentor zwana dalej “Organizatorem”.
                </li>
                <li>“Partnerem” wydarzenia jest osoba prawna lub fizyczna, która na określonych warunkach współpracuje z
                  Organizatorem.</li>
                <li>Motywem przewodnim Hackathonu jest rozwiązanie przedstawionych zagadnień problemowych odbywający się
                  podczas Hackathonu</li>
                <li>W ramach Hackathonu prowadzony jest konkurs na stworzenie rozwiązań technologicznych (w postaci
                  działającego prototypu) do predykcji danych dostarczonych przez Organizartora.</li>
                <li>Technologia wykonania projektu w ramach Hackathonu jest dowolna.</li>
              </ol>
              <p>§ 2<br>ZASADY I WARUNKI UDZIAŁU</p>
              <ol>
                <li>Udział w Hackathonie jest dobrowolny, bezpłatny i otwarty.</li>
                <li>Udział w Hackathonie może wziąć każda osoba osoba fizyczna posiadająca pełną zdolność do czynności
                  prawnych, która posiada aktualny status studenta (zwana dalej “Uczestnikiem”).</li>
                <li>Warunkiem udziału w Hackathonie jest uzupełnienie formularza zgłoszeniowego on-line zamieszczonego
                  na
                  stronie LINKDOSTRONY oraz akceptacja postanowień niniejszego Regulaminu.</li>
                <li>Przyjmowanie zgłoszeń na Hackathon rozpocznie się DATA.DATA.2022 r. 00:00 i potrwa do dnia
                  DATA.DATA.2022 r. do godziny 23:59, ilość miejsc jest ograniczona do 30 osób.</li>
                <li>Przyjęcie formularza nie jest jednoznaczne z zakwalifikowaniem na Hackathon.</li>
                <li>Aplikacja na Hackathon jest równoważna z akceptacją otrzymania minimum trzech wiadomości e-mail od
                  Organizatora w czasie nieokreślonym.</li>
                <li>Osoby, które zostały zakwalifikowane zostaną o tym fakcie poinformowane drogą mailową nie później
                  niż
                  na 5 dni przed rozpoczęciem Hackathonu. Osobom, które zostaną zakwalifikowane z listy rezerwowej,
                  informacja ta zostanie przekazana nie później niż na 3 dni przed rozpoczęciem Hackathonu.</li>
                <li>Mail potwierdzający zakwalifikowanie na Hackathon zostanie przesłany na adres mailowy podany w
                  formularzu zgłoszeniowym.</li>
                <li>Należy potwierdzić uczestnictwo w przeciągu dwóch dni od otrzymania maila potwierdzającego
                  zakwalifikowania się na Hackathon. Brak odpowiedzi w terminie jest równoznaczny z rezygnacją z udziału
                  w
                  Hackathonie.</li>
                <li>W Hackathonie mogą wziąć udział wyłącznie zespoły złożone z minimum 2, a maksymalnie 3 Uczestników.
                </li>
                <li>Wszyscy członkowie zespołu muszą zarejestrować się indywidualnie za pomocą formularza
                  rejestracyjnego.
                </li>
                <li>Podstawą do kwalifikacji zespołu jest rejestracja minimum 2 uczestników, którzy uwzględnią nazwę
                  tego
                  zespołu w formularzu.</li>
                <li>O wszelkich zmianach we wcześniej wysłanym formularzu należy poinformować organizatorów drogą
                  mailową
                  na adres ADRES.</li>
                <li>Uczestnik może pracować podczas Hackathonu tylko nad jednym prototypem nazywanym dalej “Projektem”.
                </li>
                <li>Uczestnicy Hackathonu we własnym zakresie zapewniają sobie sprzęt komputerowy na potrzeby udziału w
                  Hackathonie.</li>
                <li>Uczestnicy biorą pełną odpowiedzialność za swoją własność (w tym sprzęt komputerowy) i sami są
                  zobligowani do jej pilnowania. Organizator nie ponosi odpowiedzialności za ewentualne straty.</li>
                <li>Uczestnik stwierdza, że nie ma żadnych przeciwwskazań zdrowotnych, aby mógł uczestniczyć w
                  Hackathonie. Organizator ma wyłączoną odpowiedzialność z tego tytułu.</li>
                <li>Uczestnik ponosi pełną odpowiedzialność za wyrządzone przez siebie szkody na obiekcie wydarzenia
                  oraz
                  mienia nie należącego do Uczestnika. Organizator ma wyłączoną odpowiedzialność z tego tytułu.</li>
                <li>Wnoszenie i spożywanie alkoholu na terenie wydarzenia jest zabronione.</li>
              </ol>
              <p>§ 3<br>PRZEBIEG HACKATHONU</p>
              <ol>
                <li>Rejestracja na wydarzenie rozpocznie się DATA.DATA.2022 r. o godzinie 10:00.</li>
                <li>Hackathon rozpocznie się 13 stycznia 2023 r. o godzinie GODZINA, a zakończy 14 stycznia 2023 r. o
                  godzinie 00:00.</li>
                <li>Organizator w trakcie Hackathonu zapewni:
                  <ul>
                    <li>dostęp do Internetu za pomocą sieci Wi-Fi i kabli ethernet;?</li>
                    <li>zasilanie elektryczne;</li>
                    <li>wyżywienie oraz napoje;</li>
                    <li>projektor multimedialny do prezentacji projektów.?</li>
                  </ul>
                </li>
                <li>Organizatorzy zastrzegają, że rzeczy wymienione w § 3 niniejszego regulaminu nie mogą być użyte do
                  celów innych niż do udziału w Hackathonie.</li>
                <li>W pozostałym zakresie każdy Uczestnik jest zobowiązany do korzystania z własnego sprzętu oraz innych
                  niezbędnych mu do udziału w Hackathonie narzędzi.</li>
                <li>Do czasu zakończenia Hackatonu, Uczestnicy zobligowani są wysłać rozwiązanie lub link do rozwiązania
                  (np. na platformie GitHub) oraz krótką prezentację opisującą projekt.</li>
                <li>W trakcie Hackatonu, Uczestnicy będą mogli pięciokrotnie wysłać swoje rozwiązania do Organizatora w
                  celu uzyskania ewaluacji wyniku.</li>
              </ol>
              <p>§ 4<br>WYBÓR ZWYCIĘZCÓW ORAZ PRZYZNANIE NAGRÓD</p>
              <ol>
                <li>Po zakończeniu Hackathonu Uczestnicy wysyłają Organizatorom swoje rozwiązania. Komisja oceniająca
                  Projekty (zwana dalej ”Jury”) składa się z minimum 2 członków powołanych przez Organizatora
                  Hackathonu.
                  Jej zadaniem jest wybranie 1 najlepszego Projektu oraz 2 wyróżnionych, które oceni według
                  następujących
                  kryteriów:
                  <ul>
                    <li>przygotowanie danych,</li>
                    <li>dobór modelu,</li>
                    <li>wykonanie i stopień trudności projektu,</li>
                    <li>zgodność z tematem.</li>
                    <li>wielkość błędu predykcji dla danych testowych liczona jako pierwiastek błędu
                      średniokwadratowego(RMSE) dla danych ilościowych zmiennej objaśniającej lub wskaźnik F-1 dla
                      kategorycznej zmiennej ilościowej</li>
                  </ul>
                </li>
                <li>Członkowie Jury indywidualnie oceniają Projekty poprzez przyznanie punktów.</li>
                <li>W przypadku gdy 2 lub więcej Projektów otrzyma tą samą liczbę punktów, o wyborze zwycięzców
                  zadecyduje
                  ponowne głosowanie, w ramach którego członkowie Jury wskazują laureatów.</li>
                <li>Obrady Jury są niejawne, a decyzje Jury są ostateczne i nie przysługuje od nich odwołanie.</li>
                <li>Laureaci Hackathonu otrzymają nagrody ufundowane przez Partnerów.</li>
                <li>Nagrody nie podlegają wymianie na ekwiwalent pieniężny ani na inną nagrodę.</li>
              </ol>
              <p>§ 5<br>WŁASNOŚĆ INTELEKTUALNA</p>
              <ol>
                <li>Właścicielami wszelkich praw własności intelektualnej do prac i utworów stworzonych podczas
                  Hackathonu
                  są Uczestnicy.</li>
                <li>Uczestnik oświadcza, iż jest autorem lub współautorem wszelkich prac wykonanych podczas Hackathonu
                  oraz iż te prace nie naruszają jakichkolwiek praw osób trzecich. Uczestnik oświadcza, iż bierze na
                  siebie wszelką odpowiedzialność z tytułu roszczeń osób trzecich kierowanych wobec Organizatora, które
                  powstałyby w związku z udziałem w Hackathonie.</li>
                <li>Obowiązuje kategoryczny zakaz umieszczania w pracach konkursowych treści niezgodnych z prawem,
                  kontrowersyjnych oraz innych, które mogłyby zostać źle przyjęte, w szczególności:
                  <ul>
                    <li>pornograficznych,</li>
                    <li>obrzydliwych,</li>
                    <li>wzywających do nienawiści rasowej, wyznaniowej czy innej,</li>
                    <li>propagującą narkotyki.</li>
                  </ul>
                </li>
                <li>Uczestnik poprzez udział w Hackathonie udziela zezwolenia na utrwalenie i wykorzystanie swojego
                  wizerunku i głosu w materiałach foto i video w celach promocyjnych bez ograniczeń czasowych i
                  terytorialnych.</li>
                <li>Organizator zastrzega sobie prawo do opublikowania rozwiązań Uczestników na stronie STRONA WZ? , a
                  także na LN MENTORA.</li>
              </ol>
              <p>§ 6<br>WYKONANIE I PREZENTACJA PROJEKTU</p>
              <ol>
                <li>Zabronione jest korzystanie z technologii automatycznego uczenia maszynowego (autoML).</li>
                <li>Uczestnicy mają pełną dowolność wyboru technologii(poza wymienioną w punkcie 1.), w których będą
                  tworzyli rozwiązania technologiczne i programistyczne.</li>
                <li>Uczestnicy powinni tworzyć rozwiązania technologiczne i programistyczne nawiązujące do kategorii,
                  która zostanie ogłoszona przez Organizatora w dniu rozpoczęcia konkursu.</li>
                <li>Zgodność z tematyką jest brana pod uwagę podczas oceny projektów poszczególnych zespołów na
                  zakończenie Hackathonu.</li>
              </ol>
              <p>§ 7<br>PRZETWARZANIE DANYCH OSOBOWYCH</p>
              <ol>
                <li>Administratorem danych osobowych udostępnianych przez Uczestników konkursu jest Organizator.</li>
                <li>Uczestnik wyraża zgodę na przetwarzanie danych osobowych przez Organizatora w celu i zakresie
                  niezbędnym do organizacji Hackathonu. Podanie danych osobowych jest dobrowolne, jednakże ich
                  niepodanie
                  skutkuje brakiem możliwości uczestnictwa w Hackathonie. Podanie nieprawdziwych danych osobowych
                  upoważnia Organizatora do wykluczenia Uczestnika z udziału w Hackathonie.</li>
                <li>Zebrane dane będą przechowywane do 31 dni po zakończeniu Hackathonu.</li>
                <li>Każdy Uczestnik ma prawo wglądu, poprawiania, uzupełniania, aktualizowania oraz żądania zaprzestania
                  przetwarzania jego danych osobowych.</li>
              </ol>
              <p>§ 8<br>POSTANOWIENIA KOŃCOWE</p>
              <ol>
                <li>Niniejszy Regulamin wchodzi w życie z dniem 1 grudnia 2022 roku.</li>
                <li>W uzasadnionych przypadkach Organizator zastrzega sobie prawo do zmiany postanowień niniejszego
                  Regulaminu.</li>
                <li>Organizator nie ponosi odpowiedzialności wynikającej z odwołania lub zmiany daty Hackathonu, a
                  wszelkie roszczenia z tego tytułu są wyłączone.</li>
                <li>Organizator posiada ostateczny głos w sprawach nie zdefiniowanych w regulaminie, o ile nie dotyczy
                  to
                  spraw określonych w Kodeksie Cywilnym.</li>
                <li>Osoby będące pod wpływem alkoholu lub środków odurzających oraz osoby stanowiące zagrożenie dla
                  porządku publicznego mają zakaz wstępu na teren, w którym odbywa się Hackathon i jako Uczestnicy mogą
                  zostać wykluczone z udziału w Hackathonie.</li>
                <li>Poprzez zgłoszenie udziału w Hackathonie Uczestnik akceptuje i zobowiązuje się do przestrzegania
                  postanowień niniejszego Regulaminu.</li>
                <li>Wszelkie naruszenia niniejszego Regulaminu lub naruszenie przepisów obowiązującego prawa,
                  upoważniają
                  Organizatora do wykluczenia Uczestnika z udziału w Hackathonie.</li>
              </ol>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-footer">
      <span> Rafał Zając, 2022 &copy;. All rights reserved.</span>
      <div class="container-contact" style="justify-items: center">
        <a href="https://www.linkedin.com/company/ko%C5%82o-naukowe-mentor/mycompany/"><img
            src="{{ url_for('static', filename='Images/linkedin.png') }}" alt="LinkedIn" style="height: 50px" /></a>
        <a href="https://www.facebook.com/groups/295643830927683">
          <img src="{{ url_for('static', filename='Images/github.png') }}" alt="GitHub" style="height: 50px" /></a>

      </div>
      <span id="zegar"></span>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='Images/linkedin.png') }}JS_files/slider.js"></script>
  <script src="{{ url_for('static', filename='Images/linkedin.png') }}JS_files/slider.js"></script>
</body>

</html>