.container-loader{
  height: 100vh;
  width: 100%;
  margin-top: -80px;
  padding-top: 80px;
  position: relative;
  text-align: center;
  color: white;
  z-index: 98;
}
.container-loader > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  float: left;
}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
}