@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.container {
  /* background-color: transparent; */
}
body {
  font-family: "Lato", sans-serif;
  font-size: medium;
  color: #fafffe;
  line-height: 155%;
}
.container-main {
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  /* background-image: linear-gradient(#15026b, #0214a3); */
  background: rgb(61, 113, 122);
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.65);
  text-align: justify;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  color: #180ca5;
}
html {
  /* background: rgb(22, 45, 49); */
  background: #0d2227;
}
hr {
  max-width: 90%;
  border: 2px solid #f8f8f8;
  border-radius: 4px;
}
h1,
h2,
h3 {
  text-shadow: 2px 3px #131313;
}
:root {
  --white: #fffafa;
  --purple: #15026b;
}
.container-part-section2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
