.side-menu-container,
.side-menu,
.side-menu > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.side-menu-container {
  position: fixed;
  height: 100vh;
  left: 0px;
  z-index: 50;
}
.side-menu > a {
  margin: 5px 0px;
  height: 40px;
  background-color: #181818;
  color: var(--white);
}
.side-menu > a:hover {
  margin: 5px 0px;
  height: 40px;
  color: var(--white);
  background-color: var(--purple);
}
:root {
  --white: #fffafa;
  --purple: #4b0082;
}
