html {
  scroll-behavior: smooth;
  }

header{
  font-family: "Lato", sans-serif;
  position: sticky;
  top: 0;
  z-index: 99 !important;
}

.navigationWrapper {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;      
  padding-bottom: 1.5%;
  width: auto;
}

.logoWrapper {
  display: flex;
}

.logo {
  font-size: 1.5rem;
  padding-left: 4px;
  color: #add7de;
  animation-name: animation-show;
  animation-duration: 4s;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation li {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.parent {
  padding: 0 10px;
  cursor: pointer;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  color: white;
}

.link:hover {
  color: #add7de;
  letter-spacing: 0.05rem;
}

@keyframes animation-show {
  from {
    left: 150px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --white: #fffafa;
  --purple: #15026b;
}
