html {
  scroll-behavior: smooth;
}

.navigationWrapper {
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  padding: 20px;
  width: auto;
  z-index: 99;
}

.logoWrapper {
  display: flex;
}

.logo {
  font-size: 1.5rem;
  padding-left: 4px;
  color: #add7de;
  animation-name: animation-show;
  animation-duration: 4s;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation li {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.parent {
  padding: 0 10px;
  cursor: pointer;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  color: white;
}

.link:hover {
  color: #add7de;
  letter-spacing: 0.05rem;
}

/* @media screen and (max-width: 850px) {
  #image-logo {
    display: inline;
    width: 55px;
    height: 30px;
  }
  .logo {
    position: relative;
    animation-name: animation-show;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
  }
  #web-title {
    display: none;
  }
} */

@keyframes animation-show {
  from {
    left: 150px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --white: #fffafa;
  --purple: #15026b;
}
